/* Color Palette */
/* Fonts */
@font-face {
  font-family: "Caveat Regular";
  src: url(../fonts/Caveat_Regular.ttf); }
@font-face {
  font-family: "Marmelad";
  src: url(../fonts/Marmelad_Regular.ttf); }
@font-face {
  font-family: "OpenSans Light";
  src: url(../fonts/Opensans-Light.ttf); }
@font-face {
  font-family: "OpenSans Regular";
  src: url(../fonts/Opensans-Regular.ttf); }
@font-face {
  font-family: "OpenSans Semibold";
  src: url(../fonts/Opensans-Semibold.ttf); }
@font-face {
  font-family: "OpenSans Bold";
  src: url(../fonts/Opensans-Bold.ttf); }
body {
  font-family: "OpenSans Regular";
  font-size: 1.5rem;
  line-height: 1.75; }

h1, h2 {
  font-family: "Marmelad"; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1rem;
  text-transform: uppercase; }

quote {
  font-family: "Caveat Regular";
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.5; }

.v-center-parent, header, nav {
  position: relative; }

.v-center-child, header .hero, nav > .container {
  position: inherit;
  top: 50%;
  transform: translateY(-50%); }

header {
  height: 100vh; }
  header #splashLogo {
    margin-left: -89px; }
  header .subhead {
    font-size: 2.5rem;
    line-height: 2;
    color: #EDEEF3; }
  header quote {
    font-size: 2.75rem;
    margin-top: 2rem;
    text-align: left; }

main {
  /*height: 600vh;*/
  background: linear-gradient(0deg, #FFFFFF 0%, #EDEEF3 100%); }
  main section {
    margin: 20vh 0; }
    main section img.section-end {
      opacity: 0.15; }
  main .case img {
    width: 100%;
    max-width: 540px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    box-shadow: 4px 4px 6px 0 rgba(124, 124, 124, 0.25);
    -webkit-transition: all .2s ease-in-out;
    /* Safari 3.1 to 6.0 */
    transition: all .2s ease-in-out; }
  main .case h2 {
    margin-bottom: 0; }
  main .case .subhead {
    color: #7C7C7C;
    margin-bottom: 2rem; }
  main .case .info {
    margin-top: 30vh; }
  main .case:hover img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); }
  main .skills quote {
    width: 100%;
    display: inherit; }
  main .skills .cards {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-bottom: 2rem; }
  main .skills .card-layout {
    flex: 1; }
  main .skills ul {
    padding: 2rem 0; }
    main .skills ul lh {
      color: #EDEEF3;
      display: inherit;
      line-height: 2;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center; }
    main .skills ul li {
      margin: 0 2rem;
      list-style: none;
      line-height: 3rem; }
    main .skills ul li:hover .skill-level {
      visibility: visible; }
    main .skills ul li:before {
      font-family: 'FontAwesome';
      content: "\f046";
      color: #7C7C7C;
      margin-right: 1rem; }
  main .goodbye img {
    margin-top: 10vh; }

/* Stars Rating */
.skill-level {
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-align: center;
  visibility: hidden; }

.full {
  color: #EBDC23; }

.empty {
  color: #EDEEF3; }

.s5:before {
  content: "\f005 \f005 \f005 \f005 \f005"; }

.s4:before {
  content: "\f005 \f005 \f005 \f005"; }

.s3:before {
  content: "\f005 \f005 \f005"; }

.s2:before {
  content: "\f005 \f005"; }

.s1:before {
  content: "\f005"; }

nav {
  height: 60px;
  box-shadow: 0 1px 0 rgba(124, 124, 124, 0.15), 0 -1px 0 rgba(124, 124, 124, 0.15); }
  nav #navLogo img {
    opacity: 0.15; }
  nav a {
    margin-left: 3rem;
    color: #0F0A06;
    text-decoration: none; }
    nav a img {
      vertical-align: top; }
    nav a span {
      font-family: "Marmelad";
      font-size: 1.5rem;
      line-height: 25px;
      padding-left: 1rem; }
    nav a:hover, nav a:active {
      text-decoration: none; }

.card {
  background: white;
  height: 100%;
  border: 1px solid rgba(124, 124, 124, 0.15); }

button {
  margin-top: 1rem;
  height: 5rem;
  padding: 0 4rem;
  margin-right: 2rem;
  cursor: pointer;
  background: transparent;
  font-family: "OpenSans Semibold"; }

button.primary {
  border: 1px solid #EBDC23;
  color: #EBDC23; }

button.secondary {
  border: 1px solid #7C7C7C;
  color: #7C7C7C; }

section {
  padding: 5vh 0; }

.center-block {
  display: table;
  margin-left: auto;
  margin-right: auto; }

/* Responsive Layout */
/* Extra-small devices */
@media (max-width: 767px) {
  .cards {
    flex-direction: column; } }
/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {
  .cards {
    flex-direction: column; } }
/* Medium-size devices */
/* Large devices */

/*# sourceMappingURL=style.css.map */
