/* Color Palette */
/* Fonts */
@font-face {
  font-family: "Caveat Regular";
  src: url(../fonts/Caveat_Regular.ttf); }
@font-face {
  font-family: "Marmelad";
  src: url(../fonts/Marmelad_Regular.ttf); }
@font-face {
  font-family: "OpenSans";
  font-weight: 100;
  font-style: normal;
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: "OpenSans";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/OpenSans-Semibold.ttf); }
@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/OpenSans-Bold.ttf); }
body {
  font-family: "OpenSans", arial, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.75; }

.smooth-transition, nav #navLogo img, main .case img, main .goodbye .cover-image, .btn {
  -webkit-transition: all .5s ease;
  /* Safari 3.1 to 6.0 */
  transition: all .5s ease; }

h1, h2 {
  font-family: "Marmelad", serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem;
  margin-top: 10vh; }

h2.small {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem !important; }

h3 {
  color: #7C7C7C;
  font-size: 1.5rem;
  margin-top: 5vh; }

h4 {
  font-size: 1rem;
  text-transform: uppercase; }
  h4.modal-title {
    line-height: 21px; }

p {
  margin: 0 0 2.5rem;
  /*max-width: 75rem;*/ }

ul {
  max-width: 75rem; }
  ul li {
    line-height: 1.5;
    font-weight: 100;
    margin-bottom: 1rem; }

quote, .quote {
  font-family: "Caveat Regular", serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.35; }
  quote span, .quote span {
    display: block;
    font-family: "OpenSans", arial, sans-serif;
    font-weight: 300;
    font-size: 1.5rem; }
  quote.secondary, .quote.secondary {
    color: #7C7C7C;
    font-size: 2rem; }

.v-center-parent {
  position: relative; }

.v-center-child, header .hero {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

header {
  width: 100%;
  height: 100vh;
  z-index: -100;
  position: fixed;
  top: 0; }
  header .hero {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center; }
  header #splashLogo {
    /*margin-left: -89px;*/ }
  header .subhead {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 2;
    color: rgba(124, 124, 124, 0.35); }
  header .quote {
    font-size: 2.75rem;
    display: block;
    margin-top: 5rem;
    text-align: center; }
  header i {
    margin-right: 1rem; }

.spacer, .spacer-quarter, .spacer-small, .nav-spacer {
  width: 0;
  height: 100vh;
  clear: both;
  position: relative; }

.spacer-quarter {
  height: 25vh; }

.spacer-small {
  height: 4rem; }

.nav-spacer {
  height: 6rem; }

nav.case {
  background: transparent;
  box-shadow: none; }
  nav.case img {
    margin-top: 15px; }

nav {
  background: #EDEEF3;
  box-shadow: 0 1px 0 rgba(124, 124, 124, 0.15), 0 -1px 0 rgba(124, 124, 124, 0.15);
  z-index: 100; }
  nav > .container {
    padding: 1.5rem; }
  nav #navLogo {
    margin-left: 0; }
    nav #navLogo img {
      opacity: 0.15; }
      nav #navLogo img:hover {
        opacity: 0.75; }
  nav a.nav-link {
    margin-left: 3rem;
    color: #0F0A06;
    text-decoration: none; }
    nav a.nav-link img {
      vertical-align: text-bottom;
      height: 2.5rem; }
    nav a.nav-link i {
      font-size: 2.5rem;
      line-height: 1; }
    nav a.nav-link span {
      font-family: "Marmelad";
      font-size: 1.5rem;
      line-height: 3rem;
      padding-left: 1rem; }
    nav a.nav-link:hover, nav a.nav-link:active {
      text-decoration: none; }
    nav a.nav-link:hover {
      color: #4E9DAE;
      cursor: pointer; }
    nav a.nav-link.active {
      color: #4E9DAE;
      font-weight: bold; }

main {
  background: linear-gradient(0deg, #FFFFFF 0%, #EDEEF3 100%);
  background-attachment: fixed;
  box-shadow: 0 -1rem 5rem #ffffff; }
  main section img.section-end {
    opacity: 0.15; }
  main section.active .btn.primary, main section.goodbye .btn.primary {
    color: #EBDC23;
    border-color: #EBDC23; }
    main section.active .btn.primary:hover, main section.goodbye .btn.primary:hover {
      background: #EBDC23;
      color: white; }
  main section.active img, main section.goodbye img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); }
  main .case .row {
    display: flex;
    flex-direction: row; }
  main .case img {
    width: 100%;
    max-width: 540px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    box-shadow: 4px 4px 6px 0 rgba(124, 124, 124, 0.25); }
  main .case .info {
    bottom: 0;
    position: absolute; }
  main .case h2 {
    margin-bottom: 0; }
  main .case .subhead {
    font-weight: 100;
    font-size: 1.75rem;
    color: #7C7C7C;
    margin-bottom: 2rem; }
  main .case .btn {
    margin: 1rem 0 0; }
  main .skills quote {
    width: 100%;
    display: inherit; }
  main .skills .cards {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-bottom: 2rem; }
  main .skills .card-layout {
    flex: 1; }
  main .skills ul {
    padding: 2rem 0; }
    main .skills ul lh {
      color: rgba(124, 124, 124, 0.5);
      display: inherit;
      line-height: 2;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center; }
    main .skills ul li {
      margin: 0 2rem;
      list-style: none;
      line-height: 3rem; }
    main .skills ul li:hover .skill-level {
      visibility: visible; }
    main .skills ul li:before {
      font-family: 'FontAwesome';
      content: "\f046";
      color: #7C7C7C;
      margin-right: 1rem; }
  main .social-media .icon {
    text-align: center; }
    main .social-media .icon span {
      display: table-cell;
      width: 100%;
      height: 6rem;
      font-family: "Caveat Regular";
      color: #7C7C7C;
      vertical-align: middle;
      line-height: 1;
      visibility: hidden; }
    main .social-media .icon i {
      display: block;
      width: 100%;
      font-size: 5rem; }
    main .social-media .icon a {
      color: #0F0A06;
      text-decoration: none; }
    main .social-media .icon:hover span {
      visibility: visible; }
  main .goodbye img {
    margin-top: 10vh; }
  main .goodbye .cover-image {
    margin-top: 5vh;
    width: 100%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    box-shadow: 4px 4px 6px 0 rgba(124, 124, 124, 0.25); }
  main .goodbye .subhead {
    font-size: 1.5rem;
    line-height: 1.5; }
  main .goodbye a {
    color: #0F0A06; }
  main .goodbye a:hover {
    color: #0F0A06; }
  main .goodbye .case:hover .cover-image {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    box-shadow: 4px 4px 12px 0 rgba(124, 124, 124, 0.3); }

/* Stars Rating */
.skill-level {
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-align: center;
  /*visibility: hidden;*/ }

.full {
  color: #EBDC23; }

.empty {
  color: #EDEEF3; }

.s5:before {
  content: "\f005 \f005 \f005 \f005 \f005"; }

.s4:before {
  content: "\f005 \f005 \f005 \f005"; }

.s3:before {
  content: "\f005 \f005 \f005"; }

.s2:before {
  content: "\f005 \f005"; }

.s1:before {
  content: "\f005"; }

.legend {
  margin: 0 0 5rem; }

.legend-item {
  display: inline-block;
  margin: 0 1.5rem; }
  .legend-item .skill-level {
    margin-right: 1rem;
    width: 9rem;
    text-align: right; }

.card {
  background: white;
  height: 100%;
  border: 1px solid rgba(124, 124, 124, 0.15); }

.btn {
  position: relative;
  line-height: 5.5rem;
  padding: 0 3rem;
  border-radius: 0;
  margin: 1rem 0.5rem 0;
  cursor: pointer;
  background: transparent;
  font-family: "OpenSans";
  font-size: 1.75rem; }
  .btn i {
    margin-right: 1rem;
    margin-left: -1rem; }
  .btn:active {
    top: 2px;
    box-shadow: none; }
  .btn.stacked {
    color: #0F0A06;
    line-height: 1.25;
    padding: 2rem 1rem;
    margin-bottom: 3rem; }
    .btn.stacked i {
      display: block;
      font-size: 150%; }
    .btn.stacked:hover {
      border: 1px solid #EBDC23;
      color: #EBDC23; }

.btn.primary {
  border: 1px solid #969696;
  color: #969696; }
  .btn.primary:hover {
    background: #a7a7a7;
    color: white; }

.btn.secondary {
  border: 1px solid #969696;
  color: #969696; }
  .btn.secondary:hover {
    background: #a7a7a7;
    color: white; }

section {
  padding: 10vh 0;
  margin: 10vh 0; }

.center-block {
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto; }

.latched {
  position: fixed;
  top: 0; }

main.latched {
  width: 100%;
  height: 100vh;
  overflow-y: auto; }

nav.latched {
  position: fixed;
  width: 100%; }

.tags {
  color: #7C7C7C;
  line-height: 1.5; }

.intro {
  margin: 15vh 0 5vh;
  font-size: 2rem;
  max-width: 75%;
  line-height: 1.5;
  color: #627488;
  font-weight: 100; }

.one-third {
  width: 33%; }

.toc {
  margin-top: 10vh;
  padding-top: 10vh; }
  .toc.latched {
    margin-top: calc(10vh - 100px); }
  .toc ul {
    padding: 2rem 0; }
    .toc ul ul {
      padding: 0.5rem 0;
      margin-left: 2rem; }
    .toc ul lh {
      color: rgba(124, 124, 124, 0.5);
      display: inherit;
      line-height: 2;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase; }
    .toc ul li {
      margin: 0;
      list-style: none;
      font-size: 1.3rem;
      line-height: 1.75;
      font-weight: 100; }
      .toc ul li a {
        color: #7C7C7C;
        text-decoration: none;
        display: inline;
        padding: 0; }
        .toc ul li a:hover {
          background: none; }
      .toc ul li:hover a {
        color: #4E9DAE; }
      .toc ul li.active a {
        color: #4E9DAE;
        font-weight: 300;
        margin-left: 0; }

a.link {
  color: #4E9DAE;
  text-decoration: none; }
  a.link:hover {
    border-bottom: 1px solid #4E9DAE; }
  a.link:after {
    font-family: 'FontAwesome';
    content: "\f08e";
    color: #4E9DAE;
    padding-left: 0.3rem; }

img.data {
  margin-bottom: 5rem; }

.red {
  color: red; }

.placeholder {
  background: #dee0e9;
  border: 0;
  /*width: 100%;*/
  height: 30vh; }

.story {
  border-left: 4px solid #EDEEF3;
  padding-left: 1rem;
  margin-left: 2rem;
  line-height: 1.5;
  font-weight: 100; }

.case-study section {
  max-width: 75rem;
  display: block;
  margin-left: auto;
  margin-right: auto; }
.case-study img {
  margin-bottom: 2rem; }
.case-study figure {
  margin-bottom: 2rem; }
  .case-study figure img {
    margin-bottom: 1rem; }
  .case-study figure figcaption {
    font-family: 'Lucida Grande', ariel, sans-serif;
    font-weight: normal;
    font-size: 1.2rem; }

figcaption {
  text-align: center; }

p.footer {
  color: #ced1df; }

.margin-offset {
  margin-left: -15px; }

.stick-bottom {
  margin-top: 100%; }

.divline {
  margin: 7rem;
  border-top: 2px dotted #e4e5ed; }

.spacing {
  margin: 5rem;
  border: 1px solid transparent; }

.tag {
  font-family: "OpenSans", arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  vertical-align: super;
  color: #4E9DAE;
  margin-left: 1rem;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 3px; }

/* Responsive Layout */
/* Extra-small devices */
@media (max-width: 767px) {
  .cards {
    flex-direction: column; }

  .card {
    margin-bottom: 2rem; }

  .latched #case1 {
    margin-top: 0; }

  .skill-level {
    visibility: visible; }

  header .hero {
    text-align: center; }
  header quote, header .quote {
    text-align: center; }
    header quote span, header .quote span {
      display: inline-block; }

  nav {
    height: 6rem; }
    nav > .container {
      padding: 1rem 1.5rem 0; }
    nav #navLogo img {
      margin-top: 1rem; }
    nav #navLogo + div {
      padding-left: 0; }
    nav a.nav-link {
      margin-left: 2rem;
      display: inline-block;
      text-align: center; }
      nav a.nav-link img {
        height: 2rem; }
      nav a.nav-link i {
        font-size: 2rem; }
      nav a.nav-link span {
        display: block;
        padding-left: 0;
        font-size: 1rem;
        line-height: 1.5rem; }

  .legend-item {
    display: block; }
    .legend-item .skill-level {
      display: inline-block;
      width: 9rem;
      text-align: right; }
    .legend-item .rating-label {
      display: inline-block;
      width: calc(100% - 10rem);
      text-align: left; }

  main #case1 {
    margin-top: 0;
    padding-top: 0; }
  main .case .row {
    flex-direction: column; }
    main .case .row > * {
      padding: 0; }
  main .case img {
    display: block;
    margin: 0 auto; }
  main .case .info {
    position: inherit;
    text-align: center;
    padding: 0 1.5rem; }

  .stick-bottom {
    margin-top: 0; } }
/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {
  .cards {
    flex-direction: column; }

  .card {
    margin-bottom: 2rem; }

  .stick-bottom {
    margin-top: 0; } }
/* Medium-size devices */
/* Large devices */
/* Flaticons */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg"); } }
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-fruit:before {
  content: "\f100"; }

.flaticon-book:before {
  content: "\f101"; }

.flaticon-food:before {
  content: "\f102"; }

.flaticon-people:before {
  content: "\f103"; }

/*# sourceMappingURL=style.css.map */
