/* Responsive Layout */

/* Extra-small devices */
@media (max-width: 767px) {
	.cards {
		flex-direction: column;
	}
	.latched {
		#case1 {
			margin-top: 6rem;
		}
	}

	header {
		#splashLogo {
		    margin-left: -5rem;
		    max-width: 70%;
		}
		.hero {
			text-align: center;
		}
		quote {
			text-align: center;
		}
	}

	nav {
		height: 6rem;
		> .container {
			padding: 1rem 1.5rem 0;
		}


		#navLogo {
			img {
				margin-top: 1rem;
			}
			& + div {
				padding-left: 0;
			}
		}

		a {
			display: inline-block;
			text-align: center;
			img {
				height: 2rem;
			}
			span {
				display: block;
				padding-left: 0;
				font-size: 1rem;
				line-height:1.5rem;
			}
		}
	}

	main {
		#case1 {
			margin-top: 0;
			padding-top: 0;
		}
		.case {
			.row {
				flex-direction: column;
				>* {
					padding: 0;
				}
			}
			img {
				display: block;
				margin: 0 auto;
			}
			.info {
				position: inherit;
				text-align: center;
				padding: 0 1.5rem;
			}
		}
	}
}

/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {
	.cards {
		flex-direction: column;
	}
	
}

/* Medium-size devices */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices */
@media (min-width: 1200px) {
	
}