/* Color Palette */
$white: #ffffff;
$grey-light: #EDEEF3;
$grey-dark: #7C7C7C;
$navy: #627488;
$black: #0F0A06;

$teal_light: #9BC9D6;
$teal_dark: #4E9DAE;
$blue: #1FA7E5;
$yellow: #EBDC23;

/* Fonts */
@font-face {
    font-family: "Caveat Regular";
    src: url(../fonts/Caveat_Regular.ttf);
}
@font-face {
    font-family: "Marmelad";
    src: url(../fonts/Marmelad_Regular.ttf);
}
@font-face {
    font-family: "OpenSans";
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans";
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: "OpenSans";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/OpenSans-Bold.ttf);
}

body {
	font-family: "OpenSans", arial, sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.75;
}

.smooth-transition {
	-webkit-transition: all .15s linear; /* Safari 3.1 to 6.0 */
	transition: all .15s linear;
}

h1, h2 {
	font-family: "Marmelad", serif;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1rem;
	text-transform: uppercase;
	&.modal-title {
		line-height: 21px;
	}
}

p {
	margin: 0 0 2.5rem;
}

quote {
    font-family: "Caveat Regular", serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.5;
	span {
		display: block;
		font-family: "OpenSans", arial, sans-serif;
		font-weight: 300;
		font-size: 1.5rem;
	}
}

.v-center-parent {
	position: relative;
}
.v-center-child {
	position: inherit;
	top: 50%;
	transform: translateY(-50%);
}


header {
	height: 100vh;
	z-index: -100;
	position: fixed;
	top: 0;
	
	.hero {
		@extend .v-center-child;
	}

	#splashLogo {
		margin-left: -89px;
	}
	.subhead {
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 2;

		color: rgba($grey-dark,0.35);
	}
	quote {
		font-size: 2.75rem;
		display: block;
		margin-top: 5rem;
		text-align: left;
	}
}

.spacer {
    width: 0;
    height: 100vh;
    clear: both;
    position: relative;
}
.spacer-quarter {
	@extend .spacer;
	height: 25vh;
}
.spacer-small {
	@extend .spacer;
	height:4rem;
}
.nav-spacer {
	@extend .spacer;
	height: 6rem;
}

nav.case {
	background: transparent;
	box-shadow: none;
	img {
		margin-top: 15px;
	}
}
nav {
	background: $grey-light;
	box-shadow: 0 1px 0 rgba($grey-dark, 0.15), 0 -1px 0 rgba($grey-dark, 0.15);
	z-index: 100;

	> .container {
		padding: 1.5rem;
	}

	#navLogo {
		margin-left: 0;
		img {
			opacity: 0.15;
			@extend .smooth-transition;

			&:hover {
				opacity: 0.75;
			}
		}
	}

	a.nav-link {
		margin-left: 3rem;
		color: $black;
		text-decoration: none;
		img {
			vertical-align: text-bottom;
			height: 2.5rem;
		}
		span {
			font-family: "Marmelad";
			font-size: 1.5rem;
			line-height: 3rem;
			padding-left: 1rem;
			
		}
		&:hover, &:active {
			text-decoration: none;
		}
		&:hover {
			color: $teal-dark;
			cursor: pointer;
		}
		&.active {
			color: $teal-dark;
			font-weight: bold;
		}	
	}
}

main {
	background: linear-gradient(0deg, #FFFFFF 0%, $grey-light 100%);
	box-shadow: 0 -1rem 5rem $white;

	section {

		img.section-end {
			opacity: 0.15;
		}

		&.active {
			background: green;
			.btn.primary {
		    	color: darken($yellow, 10%);
		    	border-color: darken($yellow, 10%);
		    	color: $yellow;
		    	border-color: $yellow;
		    }
		    .btn.secondary {
		    	color: $grey-dark;
		    	border-color: $grey-dark;
		    }
		}
	}

	.case {
		.row {
			display: flex;
			flex-direction: row;
		}
		img {
			width: 100%;
			max-width: 540px;
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
			box-shadow: 4px 4px 6px 0 rgba($grey-dark,0.25);
			@extend .smooth-transition;
		}
		.info {
		    bottom: 0;
		    position: absolute;
		}
		h2 {
			margin-bottom: 0;
		}
		.subhead {
			color: $grey-dark;
			margin-bottom: 2rem;
		}
		.btn {
			margin: 1rem 0 0;
		}
	}
	.case:hover {
		img {
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
			filter: grayscale(0%);
		}
	}

	.skills {
		quote {
			width:100%;
			display: inherit;
		}
		.cards {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			overflow: hidden;
			margin-bottom: 2rem;
		}
		.card-layout {
			flex: 1;
		}
		ul {
			padding: 2rem 0;
			lh {
				color: rgba($grey-dark, 0.5);
				display: inherit;
				line-height: 2;
				font-size: 1.5rem;
				font-weight: 600;
				text-align: center;
			}
			li {
				margin: 0 2rem;
			    list-style: none;
			    line-height: 3rem;
			}
			li:hover {
				.skill-level {
					visibility: visible;
				}
			}
			li:before {
				font-family: 'FontAwesome';
				content: "\f046";
				color: $grey-dark;
				margin-right: 1rem;
			}
		}
	}

	.social-media {
		.icon {
			text-align: center;
			span {
				display: table-cell;
				width: 100%;
				height: 6rem;
				font-family: "Caveat Regular";
				color: $grey-dark;
				vertical-align: middle;
				line-height: 1;
				visibility: hidden;
			}
			i {
				display: block;
				width: 100%;
				font-size: 5rem;
			}
			a {
				color: $black;
				text-decoration: none;
			}
			&:hover {
				span {
					visibility: visible;
				}
			}
		}
	}

	.goodbye {
		img {
			margin-top: 10vh;
		}
	}
}

/* Stars Rating */
.skill-level {
	font-family: 'FontAwesome';
	font-size: 1.5rem;
	letter-spacing: 3px;
	text-align: center;
	visibility: hidden;
}

.full { color: $yellow; }

.empty { color: $grey-light; }

.s5:before {
	content:"\f005 \f005 \f005 \f005 \f005";
}

.s4:before {
	content:"\f005 \f005 \f005 \f005";
}

.s3:before {
	content:"\f005 \f005 \f005";
}

.s2:before {
	content: "\f005 \f005";
}

.s1:before {
	content: "\f005";
}

.card {
	background: white;
	height: 100%;
	border: 1px solid rgba($grey-dark,0.15);
}

.btn {
	line-height: 5rem;
	padding: 0 3rem;
	border-radius: 0;
	margin: 1rem 0.5rem 0;
	cursor: pointer;
	background: transparent;
    font-family: "OpenSans";
    font-weight: bold;
    @extend .smooth-transition;

	&:hover {
	}

	&:active {
	}

	&.stacked {
		color: $black;
		line-height: 1.25;
		padding: 2rem 1rem;
		margin-bottom: 3rem;
		i {
			display: block;
			font-size: 150%;
		}
		&:hover {
			border: 1px solid $yellow;
    		color: $yellow;
		}
	}
}

.btn.primary {
	border: 1px solid $yellow;
    color: $yellow;
    border: 1px solid lighten($grey-dark,10%);
    color: lighten($grey-dark,10%);

    &:hover {

    }
}

.btn.secondary {
	border: 1px solid lighten($grey-dark,10%);
    color: lighten($grey-dark,10%);
}

$section-margin: 10vh;
$section-padding: 10vh;

section {
	padding: $section-padding 0;
	margin: $section-margin 0;
}

.center-block {
	text-align: center;
	display: table;
    margin-left: auto;
    margin-right: auto;
}

.latched { 
	position: fixed;
	top: 0;
}

main.latched {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
}

nav.latched {
	position: fixed;
	width: 100%;
}

.tags {
	color: $grey-dark;
	line-height: 1.5;
}

.intro {
	margin: 15vh 0;
	font-size: 2rem;
	max-width: 75%;
	line-height: 1.5;
	color: $navy;
	font-weight: 100;
}

.one-third {
	width: 33%;
}

.toc {
	margin-top: $section-margin;
	padding-top: $section-padding;
	&.latched {
		margin-top: calc(#{$section-margin} - 100px);
	}
	ul {
		padding: 2rem 0;
		lh {
			color: rgba($grey-dark, 0.5);
			display: inherit;
			line-height: 2;
			font-size: 1rem;
			font-weight: 500;
			text-transform: uppercase;
		}
		li {
			margin: 0;
		    list-style: none;
		    font-size: 1.3rem;
		    line-height: 1.75;
		    font-weight: 100;
		    a {
		    	color: $grey-dark;
		    	text-decoration: none;
		    	display: inline;
				padding: 0;
		    }
		    &:hover {
		    	a {
		    		color: $teal-dark;
		    	}
		    }
		    &.active {
		    	a {
		    		color: $teal-dark;
			    	font-weight: 300;
			    	margin-left: 0;
		    	}
		    }
		}
	}
}

a.link {
	color: $teal-dark;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid $teal-dark;
	}
	&:after {
		font-family: 'FontAwesome';
		content: "\f08e";
		color: $teal-dark;
		padding-left: 0.3rem;
	}
}

img.data {
	margin-bottom: 5rem;
}

.red {
	color: red;
}

@import 'responsive';